{{ doctype }}
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta charset="utf-8" />
    <title>{{ title }}</title>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700' rel='stylesheet' type='text/css'> </link>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"> </script>
    <script type="text/javascript" src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"> </script>


<!-- DO WE REALLY NEED ALL OF THESE? -->
<link rel="stylesheet" href="http://cdn.oreilly.com/tools/ipython/ipython/css/style.min.css" type="text/css"> </link>
<link rel="stylesheet" href="http://cdn.oreilly.com/tools/ipython/bootstrap/css/bootstrap.min.css" media="screen"> </link>
<link rel="stylesheet" href="http://cdn.oreilly.com/tools/ipython/bootstrap/css/bootstrap-responsive.min.css"> </link>
<link rel="stylesheet" href="http://cdn.oreilly.com/tools/ipython/codemirror/lib/codemirror.css"> </link>
<link rel="stylesheet" href="http://cdn.oreilly.com/tools/ipython/ipython/css/codemirror-ipython.css"> </link>
<link rel="stylesheet" href="http://cdn.oreilly.com/tools/ipython/css/style.css"> </link>
<script src="http://cdn.oreilly.com/tools/ipython/codemirror/lib/codemirror.js" charset="utf-8"> </script>
<script src="http://cdn.oreilly.com/tools/ipython/codemirror/lib/util/loadmode.js" charset="utf-8"> </script>
<script src="http://cdn.oreilly.com/tools/ipython/codemirror/lib/util/multiplex.js" charset="utf-8"> </script>
<script src="http://cdn.oreilly.com/tools/ipython/codemirror/mode/python/python.js" charset="utf-8"> </script>
<script src="http://cdn.oreilly.com/tools/ipython/jquery/js/jquery-1.7.2.min.js" charset="utf-8"> </script>
<script src="http://cdn.oreilly.com/tools/ipython/jquery/js/jquery-ui.min.js" charset="utf-8"> </script>
<script src="http://cdn.oreilly.com/tools/ipython/ipython/js/namespace.js" type="text/javascript" charset="utf-8"> </script>
<script src="http://cdn.oreilly.com/tools/ipython/ipython/js/utils.js" type="text/javascript" charset="utf-8"> </script>
<script src="http://cdn.oreilly.com/tools/ipython/ipython/js/events.js" type="text/javascript" charset="utf-8"> </script>
<script src="http://cdn.oreilly.com/tools/ipython/ipython/js/kernel.js" type="text/javascript" charset="utf-8"> </script>
<script src="http://cdn.oreilly.com/tools/ipython/ipython/js/outputarea.js" type="text/javascript" charset="utf-8"> </script>
<script src="http://cdn.oreilly.com/tools/ipython/ipython/js/cell.js" type="text/javascript" charset="utf-8"> </script>
<script src="http://cdn.oreilly.com/tools/ipython/ipython/js/codecell.js" type="text/javascript" charset="utf-8"> </script>
<script src="http://cdn.oreilly.com/tools/ipython/ipython/js/config.js" type="text/javascript" charset="utf-8"> </script>
<script src="http://cdn.oreilly.com/tools/ipython/ipython/js/completer.js" type="text/javascript" charset="utf-8"> </script>
<script src="http://cdn.oreilly.com/tools/ipython/ipython/js/tooltip.js" type="text/javascript" charset="utf-8"> </script>
<script src="http://cdn.oreilly.com/tools/ipython/ipython/js/celltoolbar.js" type="text/javascript" charset="utf-8"> </script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.6.0/underscore-min.js"> </script>

  <!-- include the plugin -->
  <script type="text/javascript">
    if(!window.atlasplugins) window.atlasplugins = {}
    atlasplugins.ipythonServer = "ws://jupyter-kernel.odewahn.com:8888";
  </script>

  <link rel="stylesheet" type="text/css" href="https://d2uogd9jz9k9zm.cloudfront.net/ipython-0.0.2.css"> </link>
  <script type="text/javascript" src="https://d2uogd9jz9k9zm.cloudfront.net/ipython-0.0.2.min.js"> </script>


    <script type="text/javascript">
      $(function() {
        $("#link-toc").click(function(e) {
          e.preventDefault();
          $("#sidebar").toggle();
        });
      });
    </script>
    {{ header }}
  </head>
  <body data-type="book">
    {% if github_url %}
       <a href="{{ github_url }}">
          <img src="https://s3.amazonaws.com/orm-atlas-media/fork-on-github.png" class="fork-on-github"/>
       </a>
    {% endif %}
    <header>
      <div id="buttons">
        <a href="#" id="link-toc">☰</a>
      </div>
      <img class="logo" src="http://orm-logo-service.herokuapp.com/{{ practice-area }}/logo.svg"/>
      <h1>{{ title }}</h1>
      </header>
      <div id="flex-box">
        <section id="sidebar">
          {{ toc }}
        </section>
        <section id="content">
          <section id="content-body">
	
	       <table style="border: none; margin-top: 20px">
		 <tr>
		   <td>
	
		<a href="https://twitter.com/share" class="twitter-share-button" data-via="odewahn">Tweet</a>
		<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
		</td>
		<td>
		
             {% if twitter_user %}

		<a href="https://twitter.com/{{ twitter_user }}" class="twitter-follow-button" data-show-count="false">Follow</a>
		<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>

	      {% endif %}

                </td>

                <td>
	           {% if github_user and github_url %}
	     	      <iframe src="http://ghbtns.com/github-btn.html?user={{github_user}}&repo={{github_url}}&type=watch"
		         allowtransparency="true" frameborder="0" scrolling="0" width="62" height="20"></iframe>
	           {% endif %}
	        </td>
              </tr>
            </table>
            {{ content }}
            <ul class="page-navigation">
              <li>{{ prev_link }}</li>
              <li>{{ next_link }}</li>
            </ul>
          </section>
        </section>
      </div>
  </body>
</html>